* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

/* updated name from .header to header */
header {
    display: flex;    
    justify-content:space-between;
    align-items: center;
    padding: 1%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
    position: sticky;
    top: 0;
}

/* updated name from .header to header */
header h1 {
    display: inline-block;
    font-size: 48px;
}

/* updated name from .header to header */
header h1 .seo {
    color: #d9dcd6;
}

/* updated name from div to nav */
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* updated name from div to nav */
header nav ul {
    list-style-type: none;
}

/* updated name from div to nav */
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}
/*
.nav2 {
    font-size: 1.5vw;
    color: white;
    background: #2a607c;
    position: sticky;
    top: 96px;
}

.nav2 ul {
    display: flex;
    justify-content: space-evenly;
}

.nav2 ul li {
    display: inline-flex;
}
*/

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

/* the image does not scale well with window resizing, lets see if we can figure out how to fix that */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/* text escapes the content boxes when resizing window, lets see if we can fix that - consider using flex */
main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* the text and images remain inside box when resizing the window, but it remains vertical, can we flex this into a horizonal wrap? */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* changed from 3 classes to 1 */
.benefit {
    margin-bottom: 32px;
    color: #ffffff;

}

/* changed from 3 classes to 1 */
.benefit h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* changed from 3 classes to 1 */
.benefit img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* 3 classes with the same properties */
.business-units {
    margin-bottom: 20px;
    padding: 50px;
    min-height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/*
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
*/ 

/* 3 classes with the same properties */
.business-units img {
    max-height: 200px;
}
/*
.search-engine-optimization img {
    max-height: 200px;
}

.online-reputation-management img {
    max-height: 200px;
}

.social-media-marketing img {
    max-height: 200px;
}
*/

/* 3 classes with the same properties */
.business-units h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*
.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
*/

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}

@media screen and (max-width:1050px) {
    header nav {
        font-size: 16px;
    }
}

@media screen and (max-width:900px) {
    main {
        width: 90%;
        float: left;
        margin: 0% 5%;
    }
    .benefits {
        width: 90%;
        float: left;
        margin: 0% 5%;
    }
    .benefit p {
        text-align: center;
    }
    header {
        flex-direction: column;
      }
    }

@media screen and (max-width:700px) {
    header nav {
        display: none;
    }
    
}